@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>George Mason Univeristy</h1>
    <p class="lead">This website will be used by the Admissions department to keep track of prospective students applying to the university.  Below is a high-level list of requirements that your website should include as part of the design and implementation. </p>
    <p>
        The identity database is seeded with two accounts and two roles to begin with:
        <ul>
            <li>Admin Role Login=admin@gmu.com, Password=password</li>
            <li>User Role Login=user@gmu.com, Password=password</li>
        </ul>
    </p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, volutpat prodesset est in, vix officiis splendide interesset id. His perfecto sensibus cu, duo cu suavitate intellegebat. Ius munere admodum noluisse ne, cu prodesset persecuti definiebas mel. Pro agam elit eu. Animal consequuntur est no, et enim honestatis neglegentur eos.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>