@{
    ViewBag.Title = "Home Page";
}

<div id="video">
<iframe width="1200" height="600" src="https://www.youtube.com/embed/eSU3xC9YDa4?playlist=eSU3xC9YDa4&controls=0&mute=1&autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div id="attention-section" class="container">
    <div class="row">
        <h3>Determination, imagination, mettle, and daring. They’re in there.  Sometimes you just need the right opportunity to unleash all that untapped potential so that it can rise to the surface and take you places you never dreamed possible. For 37,000 students, Mason is that opportunity.</h3>
    </div>
    <div class="row">
        <div class="btn" id="call-to-action">
            @Html.ActionLink("APPLY to GMU", "Create", "Applicants")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Why Mason?</h2>
        <p>
            A college degree is one of the most valuable investments you can make and Mason is consistently recognized for providing a quality education at an affordable price. This past year alone, Kiplinger's Personal Finance magazine ranked Mason as one of the Top 100 Best Values in Public College on its national list, and Forbes magazine and the Center for College Affordability and Productivity ranked Mason number 68 among the Top 100 of “America’s Best College Buys.”

            At Mason students gain unparalleled academic and career advantages. Virginia’s State Council of Higher Education placed Mason at the top of the list of Virginia schools for highest average starting salary of its graduates, making Mason a smart investment.
        </p>
    </div>
    <div  class="col-md-6">
        <h2>Our Location</h2>
        <p>Mason’s prime location in Fairfax, Virginia, just 15 miles outside of Washington, D.C., gives you the best of both worlds. You’ll enjoy all the benefits of living near the nation’s capital, while also feeling safe and right at home at one of the largest and most beautiful residential campuses in Virginia. The city becomes your playground—you can intern with National Geographic or the Justice Department, visit museum exhibits with your Art History classmates, explore historic Georgetown and the National Mall, catch a Nationals baseball game, and even attend congressional hearings.</p>
    </div>
</div>

<div class="row container" id="tour-btn"> 
   <div class="btn">
     <a target="_blank" href="https://www.youvisit.com/tour/gmu?loc=trail1%3A0%3A1%3A1&pl=v&masonSource=admissionsLandingPage">Take a Virtual Tour</a>
   </div>
</div>