@{
    ViewBag.Title = "Home Page";
}

<div id="video">
    <iframe width="1200" height="600" src="https://www.youtube.com/embed/eSU3xC9YDa4?playlist=eSU3xC9YDa4&controls=0&mute=1&autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div id="attention-section" class="container">
    <div class="row">
        <h3>Determination, imagination, mettle, and daring. They’re in there.  Sometimes you just need the right opportunity to unleash all that untapped potential so that it can rise to the surface and take you places you never dreamed possible. For 37,000 students, Mason is that opportunity.</h3>
    </div>
    <div class="row">
        <div class="btn" id="call-to-action">
            @Html.ActionLink("APPLY to GMU", "Create", "Applicants")
        </div>
    </div>
</div>


<div class="row">
    <div id="whyMason" class="col-md-6">
        <h2>Why Mason?</h2>
        <br />
        <h4>
            <strong>Top 100 in Value</strong>- Mason is ranked top 100 best value in education by Kiplinger's Personal Finance and Forbs
        </h4>
        <br />
        <h4>
            <strong>Highest Salaries</strong>- Mason Graduates enjoy the highest average starting salary of all Virginia public schools
        </h4>
        <br />
        <h4>
            <strong>Career Boost</strong>- Humanities courses develop critical thinging analysis
        </h4>

    </div>
    <div  class="col-md-6">
        <img src="~/images/tourThumbnail.jpg" alt="...">
        <div id="tour" class="caption">
            <h3>Take a Virtual Tour of Mason</h3>
            <p>Unfortunately, Due to the COVID-19 Pandemic, Campus tours have been canceled temporarily. But don't worry, George Mason has created a way for you to experience our campus from the safety of your home. You can take a Virtual Tour of George Mason University</p>
            <a id="virtualTour" target="_blank" class="btn btn-primary" role="button" href="https://www.youvisit.com/tour/gmu?loc=trail1%3A0%3A1%3A1&pl=v&masonSource=admissionsLandingPage">Virtual Tour</a>

        </div>
    </div>

</div>

